form {
    margin-bottom: 25px;
    position: relative;
}

form > input[type=text] {
    width: 100%;
    padding: 15px 20px 15px 45px;
    border: transparent;
    border-radius: 20px;
    background-color: #edf1fa;
}

input[type=text]::placeholder {
    margin-left: 20px;
    font-size: 15px;
}

form span {
    width: 25px;
    height: 25px;
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
}